.titulo__delivery {
  font-size: 50px;
  color: black;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.titulo__delivery-secundario {
  margin-top: 150px;
}

.delivery {
  font-size: 30px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: black;
  margin-bottom: 150px;
}
