.title__menu {
  text-align: center;
  color: black;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Work Sans", sans-serif;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.fondo__menu {
  background-color: #c0c0c0;
  padding: 100px;
  margin-bottom: 100px;
}

button {
  color: black;
  text-decoration: none;
  padding: 50px;
  font-weight: 600;
  font-size: 50px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  font-family: "Bebas Neue", cursive;
}

button a {
  color: black;
}
